// app global css in SCSS form

body {
  --blue-color: #2a5782;
  --dark-blue-color: #133154;
  --navy-blue-color: #0a1f33;
  --dark-color: #553719;
  --light-color: #f1d4a6;

  // Light theme (Quasar adds .body--light)
  &.body--light {
    color: var(--dark-color);
    background: #f6edde;

    --start-bg: #4caf50;
    --start-text: white;
    --start-border-color: #553719;

    --pause-bg: #f1d4a6;
    --pause-text: #3a2e2e;
    --pause-border-color: #553719;

    --reset-bg: #ff7043;
    --reset-text: white;
    --reset-border-color: #553719;

    --active-color: var(--blue-color);
  }

  // Dark theme (Quasar adds .body--dark)
  &.body--dark {
    background: var(--blue-color);

    --start-bg: #388e3c;
    --start-text: #e0f2f1;
    --start-border-color: #388e3c;

    --pause-bg: #b0a89f;
    --pause-text: #212121;
    --pause-border-color: #b0a89f;

    --reset-bg: #d32f2f;
    --reset-text: #fafafa;
    --reset-border-color: #d32f2f;

    --active-color: #bc7f25;
  }
}
